In [22]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [23]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [24]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [25]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [26]:
print(y)

[1 0 1 ... 1 1 0]

In [27]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = ColumnTransformer([('one_hot_encoder', OneHotEncoder(),[1])], remainder = 'passthrough')
X = onehotencoder.fit_transform(X)
X = X[:, 1:]

In [28]:
print(X)

[[0.0 0.0 619 ... 1 1 101348.88]
 [0.0 1.0 608 ... 0 1 112542.58]
 [0.0 0.0 502 ... 1 0 113931.57]
 ...
 [0.0 0.0 709 ... 0 1 42085.58]
 [1.0 0.0 772 ... 1 0 92888.52]
 [0.0 0.0 792 ... 1 0 38190.78]]

In [29]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [30]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Now let's make the ANN!

Install Keras if you don't have it

In [31]:
# !pip install keras
# !pip install tensorflow

In [32]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

In [33]:
# Initialising the ANN
classifier = Sequential()

In [34]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

d:\Programs\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [35]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 30)

Epoch 1/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 670us/step - accuracy: 0.7955 - loss: 0.5611
Epoch 2/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 672us/step - accuracy: 0.7996 - loss: 0.4278
Epoch 3/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 681us/step - accuracy: 0.7969 - loss: 0.4191
Epoch 4/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 774us/step - accuracy: 0.8075 - loss: 0.4248
Epoch 5/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 689us/step - accuracy: 0.8166 - loss: 0.4230
Epoch 6/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 692us/step - accuracy: 0.8249 - loss: 0.4156
Epoch 7/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8254 - loss: 0.4152
Epoch 8/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 817us/step - accuracy: 0.8388 - loss: 0.4038
Epoch 9/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 799us/step - accuracy: 0.8314 - loss: 0.4079
Epoch 10/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 734us/step - accuracy: 0.8326 - loss: 0.4130
Epoch 11/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 931us/step - accuracy: 0.8347 - loss: 0.4094
Epoch 12/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 756us/step - accuracy: 0.8320 - loss: 0.4081
Epoch 13/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 963us/step - accuracy: 0.8345 - loss: 0.4065
Epoch 14/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 990us/step - accuracy: 0.8323 - loss: 0.4160
Epoch 15/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.8345 - loss: 0.4104
Epoch 16/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.8400 - loss: 0.3979
Epoch 17/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 758us/step - accuracy: 0.8330 - loss: 0.4043
Epoch 18/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 694us/step - accuracy: 0.8309 - loss: 0.4087
Epoch 19/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 851us/step - accuracy: 0.8401 - loss: 0.3975
Epoch 20/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 688us/step - accuracy: 0.8365 - loss: 0.4051
Epoch 21/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 708us/step - accuracy: 0.8351 - loss: 0.4002
Epoch 22/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 877us/step - accuracy: 0.8349 - loss: 0.3987
Epoch 23/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 738us/step - accuracy: 0.8394 - loss: 0.3912
Epoch 24/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 664us/step - accuracy: 0.8350 - loss: 0.4053
Epoch 25/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 700us/step - accuracy: 0.8313 - loss: 0.4076
Epoch 26/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 692us/step - accuracy: 0.8281 - loss: 0.4113
Epoch 27/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 673us/step - accuracy: 0.8383 - loss: 0.3959
Epoch 28/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 658us/step - accuracy: 0.8358 - loss: 0.4038
Epoch 29/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 767us/step - accuracy: 0.8373 - loss: 0.4019
Epoch 30/30
800/800 ━━━━━━━━━━━━━━━━━━━━ 1s 661us/step - accuracy: 0.8376 - loss: 0.4034

Making predictions and evaluating the model

In [36]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred_ = (y_pred > 0.5)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [37]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred_)

In [38]:
cm

array([[1552,   43],
       [ 278,  127]], dtype=int64)

In [39]:
y_test

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [40]:
y_pred_

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [41]:
y_pred

array([[0.26068625],
       [0.3149416 ],
       [0.20736137],
       ...,
       [0.15586202],
       [0.18197365],
       [0.12464435]], dtype=float32)

In [42]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

# Menghitung confusion matrix
cm = confusion_matrix(y_test, y_pred_)
print("Confusion Matrix:\n", cm)

# Menghitung metrik performa
accuracy = accuracy_score(y_test, y_pred_)
precision = precision_score(y_test, y_pred_)
recall = recall_score(y_test, y_pred_)
f1 = f1_score(y_test, y_pred_)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Confusion Matrix:
 [[1552   43]
 [ 278  127]]
Accuracy: 0.8395
Precision: 0.7470588235294118
Recall: 0.3135802469135803
F1 Score: 0.44173913043478263